/*
Theme Name: IN Junior
Author: Samuel Bello
Author: www.injunior.com.br
Description: Tema feito para aprender WordPress
Version: 1
*/

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: white;
}
a {
    color: yellow;
}
header, footer {
    height: 70px;
    background-color: orange;
}
main {
    background-color: #333;
}
.menu {
    display: flex;
    gap: 10px;
}
h1 {
    color: white;
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
p {
    color: white;
    word-break: break-all;
}